.borderBottom {
  border-bottom: 1px solid #c9c9c9;
}
body,
a {
  color: #1b1b1b;
}
h2.tit {
  width: 100%;
  font-size: 1rem;
  background: #eeeeee;
  height: 2.33333333rem;
  line-height: 2.33333333rem;
  border-bottom: 1px solid #c9c9c9;
}
div.items-box {
  padding-bottom: 0.66666667rem;
  border-bottom: 1px solid #c9c9c9;
}
div.items-box ul {
  padding: 0.66666667rem 0;
}
div.items-box ul li {
  font-size: 0.8rem;
  height: 1.66666667rem;
  line-height: 1.66666667rem;
}
div.items-box ul li span {
  width: 20%;
}
div.items-box ul li b {
  width: 80%;
}
div.items-box div.btn-box div {
  width: 33.33333%;
}
div.items-box div.btn-box div a {
  display: inline-block;
  width: 1.83333333rem;
}
div.items-box div.btn-box div a i {
  display: inline-block;
  width: 100%;
  height: 1.83333333rem;
  line-height: 1.83333333rem;
  background: #007aff;
  color: #ffffff;
  border-radius: 50%;
}
div.items-box div.btn-box div a span {
  display: inline-block;
  font-size: 0.66666667rem;
  width: 100%;
  height: 200%;
  line-height: 200%;
}
